body {
    font-family: "Verdana", sans-serif;
}

header {
    display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: aquamarine;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

footer {
    display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: aquamarine;
    flex-wrap: wrap;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block
}
