* {
    box-sizing: border-box;
}

/* :root {
    --text: #a5243d;
    --back: #212738;
} */

body {
    font-family: "Verdana", sans-serif;
    background-image: linear-gradient(to bottom right, coral, aquamarine);
}

a:link {
    color: #92CCCE;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #b192ce;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #a06dcf;
    background-color: transparent;
    text-decoration: underline;
}

header {
    display: flex;
    font-family: "Verdana", "Helvetica", sans-serif;
    background-color: #31343D;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    color: #31343D;
}

header h1 {
    margin: 10px 18% 10px 0px;
    padding: 10px 10px 10px 8%;
    background-color: #92CCCE;
    font-size: 25px;
}

header nav {
    align-self: center;
    padding: 10px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 12px;
    color: #92CCCE
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

#headshot {
    float: left;
    margin: 10px;
    padding: 7px;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    border-radius: 999em;
}

/* .about-me {
    display: flex;
    justify-content: center;
} */

.about-me-header {
    text-align: center;
    padding: 2%;
}

p {
    padding: 10px;
}

.my-websites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-websites-header {
    padding: 4%;
    margin: 10%;
}

/* #prework-img,
#refactor {
    display: inline-block;
} */

.container {
    position: relative;
    display: inline-block;
}

.prework,
.horiseon,
.css {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 20px;
    background-color: #31343D;
    border: 10px solid #31343D;
    color: #92CCCE;
}

.prework-img {
    width: 800px;
    height: 400px;
    align-self: center;
    border: 10px solid #31343D;
}

.refactor-img,
.css-img {
    width: 300px;
    height: 400px;
    align-self: center;
    border: 10px solid #31343D;
    display: inline-block;
    flex-direction: row;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    background-color: #E3F2C1;
    opacity: 0.5;
}

img {
    width: 300px;
    height: 400px;
    text-align: center;
}

footer {
    display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #31343D;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #92CCCE;
    padding: 13px;
}

.contact {
    margin: 10px 15% 10px 0px;
    padding: 10px 10px 10px 8%;
    font-size: 20px;
}

footer ul {
    list-style-type: none;
    align-self: center;
}

footer ul li {
    display: inline-block;
    padding: 11px;
}


/* Tablets - header changes color */
@media screen and (max-width: 768px) {
    body {
        background-image: none;
        background-color: white;
    }
    .prework-img {
        flex: 2 3 400px;
    }
}

  /* Large smartphones - navbar changes color */
/* @media screen and (max-width: 768px) {
    nav {
    background-color: #bb8588;
    }
} */

  /* Small smartphones - image placeholders change color */
/* @media screen and (max-width: 576px) {
    .sample-img {
    background-color: #8ac4ff;
    }
} */